{% extends 'base.html' %}

{% block body %}
    {% include 'partials/_sidebar.html' %}
    {% include 'partials/_topbar.html' %}

    <main class="nxl-container">
        <div class="nxl-content">
            <div class="page-header">
                <div class="page-header-left d-flex align-items-center">
                    <div class="page-header-title">
                        <h5 class="m-b-10">{% block page_title %}{% endblock %}</h5>
                    </div>
                    <ul class="breadcrumb">
                        {% block breadcrumb %}
                            <li class="breadcrumb-item"><a href="/">Início</a></li>
                        {% endblock %}
                    </ul>
                </div>
                <div class="page-header-right ms-auto">
                    {% block page_actions %}{% endblock %}
                </div>
            </div>

            <div class="main-content">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}

                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
    {% block extra_js %}{% endblock %}
{% endblock %}
